<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.CustomerMapper">

	<resultMap type="com.edu.entity.Customer" id="resultCustomer">
		<id column="uno" property="uno" />
		<result column="uname" property="uname" />
		<result column="ulabel" property="ulabel" />
		<result column="personcharge" property="personcharge" />
		<result column="utype" property="utype" />
		<result column="uprovince" property="uprovince" />
		<result column="ucity" property="ucity" />
		<result column="nexttime" property="nexttime" />
		<result column="createtime" property="createtime" />
		<result column="ufounder" property="ufounder" />
		<result column="allocatetime" property="allocatetime" />
		<result column="lasttime" property="lasttime" />
		<result column="lastperson" property="lastperson" />
		<result column="umobile" property="umobile" />
		<result column="ulandline" property="ulandline" />
		<result column="umailbox" property="umailbox" />
		<result column="uqq" property="uqq" />
		<result column="uwebsite" property="uwebsite" />
		<result column="uaddress" property="uaddress" />
		<result column="uintroduction" property="uintroduction" />
	</resultMap>

	<select id="SelectAllCustomers" resultMap="resultCustomer">
		select *
		from
		customer
	</select>

	<select id="SelectCustomersByParam" resultMap="resultCustomer"
		parameterType="com.edu.entity.Customer">
		select *
		from customer
		where
		<if test="uname != null and uname != ''">
			uname = #{uname}
		</if>
		<if test="uprovince != null and uprovince != ''">
			or uprovince = #{uprovince}
		</if>
		<if test="ucity != null and ucity != ''">
			or ucity = #{ucity}
		</if>
		<if test="umobile != null and umobile != ''">
			or umobile = #{umobile}
		</if>
		<if test="ulandline != null and ulandline != ''">
			or ulandline = #{ulandline}
		</if>
		<if test="umailbox != null and umailbox != ''">
			or umailbox = #{umailbox}
		</if>
		<if test="uqq != null and uqq != ''">
			or uqq = #{uqq}
		</if>
		<if test="uwebsite != null and uwebsite != ''">
			or uwebsite = #{uwebsite}
		</if>
		<if test="uaddress != null and uaddress != ''">
			or uaddress = #{uaddress}
		</if>
		<if test="uintroduction != null and uintroduction != ''">
			or uintroduction = #{uintroduction}
		</if>
	</select>
	
	<select id="SelectCustomersByParam2" resultMap="resultCustomer"
		parameterType="com.edu.entity.Customer">
		select *
		from customer
		where 1=1
		<if test="ulabel != null and ulabel != ''">
			and ulabel = #{ulabel}
		</if>
		<if test="utype != null and utype != ''">
			and utype = #{utype}
		</if>
		<if test="nexttimebg != null and nexttimebg != ''">
			and nexttime &gt;= #{nexttimebg,jdbcType=DATE}
		</if>
		<if test="nexttimeed != null and nexttimeed != ''">
			and nexttime &lt;= #{nexttimeed,jdbcType=DATE}
		</if>
		<if test="personcharge != null and personcharge != ''">
			and personcharge = #{personcharge}
		</if>
	</select>
	
	<select id="SelectCustomersByParam3" resultMap="resultCustomer"
		parameterType="com.edu.entity.Customer">
		select *
		from customer
		where 1=1
		<if test="ulabel != null and ulabel != ''">
			and ulabel = #{ulabel}
		</if>
		<if test="utype != null and utype != ''">
			and utype = #{utype}
		</if>
		<if test="createtimebg != null and createtimebg != ''">
			and createtime &gt;= #{createtimebg,jdbcType=DATE}
		</if>
		<if test="createtimeed != null and createtimeed != ''">
			and createtime &lt;= #{createtimeed,jdbcType=DATE}
		</if>
		<if test="allocatetimebg != null and allocatetimebg != ''">
			and allocatetime &gt;= #{allocatetimebg,jdbcType=DATE}
		</if>
		<if test="allocatetimeed != null and allocatetimeed != ''">
			and allocatetime &lt;= #{allocatetimeed,jdbcType=DATE}
		</if>
		<if test="nexttimebg != null and nexttimebg != ''">
			and nexttime &gt;= #{nexttimebg,jdbcType=DATE}
		</if>
		<if test="nexttimeed != null and nexttimeed != ''">
			and nexttime &lt;= #{nexttimeed,jdbcType=DATE}
		</if>
		<if test="lasttimebg != null and lasttimebg != ''">
			and lasttime &gt;= #{lasttimebg,jdbcType=DATE}
		</if>
		<if test="lasttimeed != null and lasttimeed != ''">
			and lasttime &lt;= #{lasttimeed,jdbcType=DATE}
		</if>
	</select>

	<select id="SelectCustomerById" resultMap="resultCustomer"
		parameterType="int">
		select *
		from customer where uno=#{uno}
	</select>

	<insert id="InsertCustomer"
		parameterType="com.edu.entity.Customer">
		insert into
		customer(
uno,
uname,
ulabel,
personcharge,
utype,
uprovince,
ucity,
nexttime,
createtime,
ufounder,
allocatetime,
lasttime,
lastperson,
umobile,
ulandline,
umailbox,
uqq,
uwebsite,
uaddress,
uintroduction)
		values(
#{uno},
#{uname},
#{ulabel},
#{personcharge},
#{utype},
#{uprovince},
#{ucity},
#{nexttime,jdbcType=DATE},
#{createtime,jdbcType=DATE},
#{ufounder},
#{allocatetime,jdbcType=DATE},
#{lasttime,jdbcType=DATE},
#{lastperson},
#{umobile},
#{ulandline},
#{umailbox},
#{uqq},
#{uwebsite},
#{uaddress},
#{uintroduction})
	</insert>

	<delete id="DeleteCustomer" parameterType="int">
		delete from customer
		where
		uno = #{uno}
	</delete>

	<update id="UpdateCustomer"
		parameterType="com.edu.entity.Customer">
		update customer
		set
uname = #{uname},
ulabel = #{ulabel},
personcharge = #{personcharge},
utype = #{utype},
uprovince = #{uprovince},
ucity = #{ucity},
nexttime = #{nexttime,jdbcType=DATE},
createtime = #{createtime,jdbcType=DATE},
ufounder = #{ufounder},
allocatetime = #{allocatetime,jdbcType=DATE},
lasttime = #{lasttime,jdbcType=DATE},
lastperson = #{lastperson},
umobile = #{umobile},
ulandline = #{ulandline},
umailbox = #{umailbox},
uqq = #{uqq},
uwebsite = #{uwebsite},
uaddress = #{uaddress},
uintroduction = #{uintroduction}
		where uno = #{uno}
	</update>

</mapper>